include layouts/default.pug
include componentes/header.pug
include mixins.pug
.container#artigo

	article
		button.btn-pdf.btn-aside Baixar PDF
			+ico-download
		include:markdown-it(html=true typographer=true) md/uso-seguro.md

include componentes/footer.pug
