aside.adm-menu
	nav
		.titulo Área administrativa 
		ul.menuEdicao
			li(onclick="window.location.href='adm_painel.html'") Painel Inicial
			li(onclick="window.location.href='adm_lista-plantas.html'") Plantas
			li(onclick="window.location.href='adm_artigos.html'") Artigos
			li(onclick="window.location.href='adm_rascunhos.html'") Rascunhos
			li(onclick="window.location.href='adm_sugestoes.html'") Sugestões
		hr
		ul.menuSite
			li(onclick="window.location.href='#'") Usuários
			li(onclick="window.location.href='#'") Preferências
			li(onclick="window.location.href='#'") Configurações
			li(onclick="window.location.href='index.html'") Sair
