.popup#confirmacao
	.container
		.mensagem
			.texto
				p Sua mensagem foi enviada com sucesso
			.cta
				button(onclick="window.location.href='sugestao.html'") Enviar outro formulário
				button.cancel-btn(onclick="window.location.href='index.html'") Retornar à página inicial
