.footer
	.grid-container
		.logos
			#logo-horto-footer(href="index.html")
			#logo-ufsc-footer
			#logo-css-footer
		.mapa
			h3 Mapa do site
			.listas
				ul.paginas
					li: a(href="index.html") Página inicial
					li: a(href="uso-seguro.html") Uso seguro de plantas
					li: a(href="sobre.html") Sobre o Horto
					li: a(href="index.html#contato") Contato
					li: a(href="admin/login.html") Login

				ul.etiquetas
					li: a(href="resultados.html") Lista de plantas
					li: a(href="etiquetas.html") Lista de sintomas
					li: a(href="etiquetas.html") Lista de usos

		ul.enderecos
			li: a(href="#") Rua Endereço Oficial, 245. Trindade - Florianópolis
			li: a(href="#") (48) 3232-9595
			li: a(href="mailto:hortodohu@contato.ufsc.br") hortodohu@contato.ufsc.br

