.header_ufsc
	img(src="_assets/img/banner_ufsc.png")

.header
	ul.menu
		li: a#header-logo(href="index.html"): img(src="_assets/img/horto-logo.svg")
		li: a(href="index.html") Início
		li: a(href="sobre.html") Sobre o Horto
		li: a(href="resultados.html") Plantas
		li: a(href="index.html#contato") Contato
		li: a(href="adm_login.html") Login
		button.menuUsoSeguro Uso seguro de plantas
